<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nian.androiddemo">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".handlerThread.HandlerThreadActivity" />
        <activity
            android:name=".handlerThread.ThreadDemoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".handlerThread.HandlerThreadDActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".scroller.ScrollerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dispatchView.DispatchTouchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".intent.IntentActivity"
            android:label="@string/title_activity_empty" />
        <activity
            android:name=".service.ServiceActivity"
            android:label="@string/activity_service_layout" />
        <activity
            android:name=".customView.CustomViewActivity"
            android:label="@string/activity_custom_view" />
        <activity
            android:name=".leak.LeakActivity"
            android:label="@string/activity_leak" />
        <activity
            android:name=".MyGridView.GridViewActivity"
            android:label="@string/activity_grid_view" />
        <activity
            android:name=".mvptest.MVPTestActiviy"
            android:label="@string/activity_mvp_view" />
        <activity
            android:name=".dynamicloadhost.ProxyActivity"
            android:label="@string/activity_proxy">
            <intent-filter>
                <action android:name="com.ryg.dynamicload.proxy.activity.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.AdditionService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".TabsTitleView.TabTitleActivity"></activity>
    </application>

</manifest>